.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.878418;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.694336;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.207200px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.100000px;}
.ls3{letter-spacing:0.170800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.192320px;}
._2{width:13.043840px;}
._1{width:98.096000px;}
._3{width:128.433920px;}
._4{width:134.003840px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:36.000000px;}
.fs0{font-size:44.160000px;}
.fs2{font-size:56.160000px;}
.fs1{font-size:96.000000px;}
.y15{bottom:3.120000px;}
.yf{bottom:3.590000px;}
.y12{bottom:3.600000px;}
.y1a{bottom:3.620000px;}
.y8{bottom:39.024000px;}
.y7{bottom:52.464000px;}
.y29{bottom:151.700000px;}
.y0{bottom:162.000000px;}
.y28{bottom:162.510000px;}
.y27{bottom:177.390000px;}
.y26{bottom:192.270000px;}
.y25{bottom:207.170000px;}
.y24{bottom:222.050000px;}
.y23{bottom:237.050000px;}
.y22{bottom:251.930000px;}
.y21{bottom:266.810000px;}
.y20{bottom:281.690000px;}
.y1f{bottom:296.570000px;}
.y1e{bottom:311.450000px;}
.y1d{bottom:326.450000px;}
.y1c{bottom:341.330000px;}
.y1b{bottom:356.210000px;}
.y19{bottom:371.090000px;}
.y18{bottom:386.000000px;}
.y17{bottom:400.870000px;}
.y16{bottom:415.880000px;}
.y14{bottom:430.750000px;}
.y13{bottom:444.670000px;}
.y11{bottom:459.550000px;}
.y10{bottom:474.440000px;}
.ye{bottom:489.320000px;}
.yd{bottom:516.430000px;}
.yc{bottom:538.870000px;}
.yb{bottom:561.460000px;}
.ya{bottom:583.900000px;}
.y9{bottom:606.460000px;}
.y6{bottom:619.180000px;}
.y5{bottom:639.100000px;}
.y4{bottom:658.900000px;}
.y3{bottom:680.500000px;}
.y2{bottom:710.760000px;}
.y1{bottom:745.680000px;}
.h8{height:13.440000px;}
.h6{height:14.390000px;}
.h7{height:14.400000px;}
.ha{height:14.414000px;}
.h9{height:14.420000px;}
.h5{height:25.207031px;}
.h2{height:30.920625px;}
.h4{height:39.322969px;}
.h3{height:65.578125px;}
.h1{height:342.000000px;}
.h0{height:792.000000px;}
.w2{width:32.154000px;}
.w4{width:83.040000px;}
.w3{width:111.970000px;}
.w6{width:125.170000px;}
.w5{width:138.740000px;}
.w1{width:494.000000px;}
.w0{width:612.000000px;}
.x8{left:9.594000px;}
.x11{left:13.314000px;}
.x12{left:18.840000px;}
.xa{left:22.910000px;}
.xc{left:29.880000px;}
.xe{left:39.860000px;}
.x14{left:41.520000px;}
.x10{left:50.060000px;}
.x13{left:55.910000px;}
.x16{left:62.540000px;}
.x15{left:69.380000px;}
.x0{left:72.000000px;}
.x9{left:105.150000px;}
.x2{left:199.490000px;}
.x4{left:208.730000px;}
.xb{left:217.610000px;}
.x1{left:227.930000px;}
.x3{left:261.050000px;}
.x5{left:263.330000px;}
.xd{left:301.130000px;}
.x6{left:437.590000px;}
.xf{left:440.480000px;}
.x7{left:444.670000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.276267pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.133333pt;}
.ls3{letter-spacing:0.227733pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.589760pt;}
._2{width:17.391787pt;}
._1{width:130.794667pt;}
._3{width:171.245227pt;}
._4{width:178.671787pt;}
.fs3{font-size:48.000000pt;}
.fs0{font-size:58.880000pt;}
.fs2{font-size:74.880000pt;}
.fs1{font-size:128.000000pt;}
.y15{bottom:4.160000pt;}
.yf{bottom:4.786667pt;}
.y12{bottom:4.800000pt;}
.y1a{bottom:4.826667pt;}
.y8{bottom:52.032000pt;}
.y7{bottom:69.952000pt;}
.y29{bottom:202.266667pt;}
.y0{bottom:216.000000pt;}
.y28{bottom:216.680000pt;}
.y27{bottom:236.520000pt;}
.y26{bottom:256.360000pt;}
.y25{bottom:276.226667pt;}
.y24{bottom:296.066667pt;}
.y23{bottom:316.066667pt;}
.y22{bottom:335.906667pt;}
.y21{bottom:355.746667pt;}
.y20{bottom:375.586667pt;}
.y1f{bottom:395.426667pt;}
.y1e{bottom:415.266667pt;}
.y1d{bottom:435.266667pt;}
.y1c{bottom:455.106667pt;}
.y1b{bottom:474.946667pt;}
.y19{bottom:494.786667pt;}
.y18{bottom:514.666667pt;}
.y17{bottom:534.493333pt;}
.y16{bottom:554.506667pt;}
.y14{bottom:574.333333pt;}
.y13{bottom:592.893333pt;}
.y11{bottom:612.733333pt;}
.y10{bottom:632.586667pt;}
.ye{bottom:652.426667pt;}
.yd{bottom:688.573333pt;}
.yc{bottom:718.493333pt;}
.yb{bottom:748.613333pt;}
.ya{bottom:778.533333pt;}
.y9{bottom:808.613333pt;}
.y6{bottom:825.573333pt;}
.y5{bottom:852.133333pt;}
.y4{bottom:878.533333pt;}
.y3{bottom:907.333333pt;}
.y2{bottom:947.680000pt;}
.y1{bottom:994.240000pt;}
.h8{height:17.920000pt;}
.h6{height:19.186667pt;}
.h7{height:19.200000pt;}
.ha{height:19.218667pt;}
.h9{height:19.226667pt;}
.h5{height:33.609375pt;}
.h2{height:41.227500pt;}
.h4{height:52.430625pt;}
.h3{height:87.437500pt;}
.h1{height:456.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:42.872000pt;}
.w4{width:110.720000pt;}
.w3{width:149.293333pt;}
.w6{width:166.893333pt;}
.w5{width:184.986667pt;}
.w1{width:658.666667pt;}
.w0{width:816.000000pt;}
.x8{left:12.792000pt;}
.x11{left:17.752000pt;}
.x12{left:25.120000pt;}
.xa{left:30.546667pt;}
.xc{left:39.840000pt;}
.xe{left:53.146667pt;}
.x14{left:55.360000pt;}
.x10{left:66.746667pt;}
.x13{left:74.546667pt;}
.x16{left:83.386667pt;}
.x15{left:92.506667pt;}
.x0{left:96.000000pt;}
.x9{left:140.200000pt;}
.x2{left:265.986667pt;}
.x4{left:278.306667pt;}
.xb{left:290.146667pt;}
.x1{left:303.906667pt;}
.x3{left:348.066667pt;}
.x5{left:351.106667pt;}
.xd{left:401.506667pt;}
.x6{left:583.453333pt;}
.xf{left:587.306667pt;}
.x7{left:592.893333pt;}
}
