.judul{
    margin: 0px;
    font-family: "Calibri";
    text-align: center;
    font-size: 9px;
}
.subhead{
    font-size: 11px;
    margin-left: 1cm;
}
.subhead p{
    margin: 0.5px;
}
.tabel{
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 7px;
}