.judul{
    margin-top: 0px;
    font-family: "Calibri";
    text-align: center;
}
.identitas{
    margin-top: 0cm;
    margin-left: 1cm;
}
.judul p{
    font-size: 10px;
}
.subhead{
    font-size: 11px;
    margin-top: 0.4cm;
    margin-left: 1cm;
}
.subhead p{
    margin: 0.5px;
}
.tabel{
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 10px;
}